.row{
    margin:30px;
}
.generate-form , .timesheet-card{
    border-radius: 20px;
    height:100%;
}
.generate-form{
    background-image: linear-gradient(to right, #dad4ec 0%, #dad4ec 1%, #f3e7e9 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gf-content{
    width: 100%;
    flex: none;
    padding: 0px 50px;
}
.timesheet-card{
    background-image: linear-gradient(to left, #dad4ec 0%, #dad4ec 1%, #f3e7e9 50%);
}
mat-card-title,button,th{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 10px 0px;
}
mat-label,mat-select{
    font-size: 17px;
}
.date{
    padding: 10px;
}
button{
    border-radius: 50px;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}
.download-button{
    background-color: #00fdcb;
    color: black;
}
table ,
.request-button, 
.download-button,
.date,
.empty-table-message{
    width:100%;
}
.timesheet-table{
    max-height: 800px;
    overflow: auto;
}
th,td{
    font-size: 20px;
    color: black;
}
mat-card-title , .empty-table-message 
, .generate-form
{
    text-align: center;
}
@media print { 
    .noprint { 
       visibility: hidden; 
    } 
}