<div class="container-fluid" (contextmenu)="onRightClick($event)">
    <div class="row justify-content-between">
        <div class="col-4">
          <mat-card class="generate-form">
            <mat-card-title>Generate Timesheet</mat-card-title>
            <form [formGroup]="timesheetForm">
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="fill" class="date">
                      <mat-label>Select Month - Year</mat-label>
                      <mat-select formControlName="selectedDate" required >
                        <mat-option *ngFor="let period of dateList" [value]="period"
                          (click)="displayTimesheet(period)">
                          {{ period.period_number }} - {{ period.year}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  </div>
                  <div class="w-100"></div>
                </div>
                <div class="row">
                  <div class="col">
                    <button mat-raised-button class="download-button" (click)="downloadTimesheet()" *ngIf="canDownload">
                      Download
                    </button>
                    <button mat-raised-button class="request-button" color="primary" *ngIf="needRequest" (click)="requestApproval()">
                      Request
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </form>
          </mat-card>
        </div>
        <div class="col-8">
          <mat-card class="timesheet-card">
            <mat-card-content>
              <!-- <div class="empty-table-message" [ngClass]="dataSource.length > 0 ? 'hidden': 'visible'">
                <span>No data Found. Please generate your timesheet</span>
              </div> -->
              <div class="timesheet-table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                  <!-- [ngClass]="dataSource.length > 0 ? 'visible': 'hidden'" -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.date_in}}-{{element.year}} 
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="timeIn">
                    <th mat-header-cell *matHeaderCellDef> Time In (24H) </th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.time_in}} 
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="timeOut">
                    <th mat-header-cell *matHeaderCellDef> Time Out (24H) </th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.time_out}} 
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ot">
                    <th mat-header-cell *matHeaderCellDef> Over Time (H)</th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.ot}} 
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ut">
                    <th mat-header-cell *matHeaderCellDef> Under Time (H)</th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.ut | number}} 
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="lateness">
                    <th mat-header-cell *matHeaderCellDef>Lateness (H)</th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.late | number}} 
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef>Remarks</th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'background-color': element.remarks === 'Weekend' ? '#DBDBDB' : ''}"> 
                      {{element.remarks}} 
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
</div>