.login-card {
    max-width: 400px;
    top:50%;
    left:50%; 
    transform:translate(-50%,-50%);
    margin-top: 400px;
    border-radius: 20px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    mat-card-actions{
        padding-left:16px;
        padding-right:16px;
        .login-button{
            width:100%;
            border-radius: 50px;
        }
    }
    .errorMessage {
        color: red;
        display: none;
        text-align: center;
    }
}  
.text-field{
    width: 100%;
}
.header{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: 15px 15px 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
  input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
@-webkit-keyframes autofill {
    0%,100% {
        color: black;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}