.row{
    margin:20px;
}
mat-card{
    border-radius: 20px;
    text-align: center;
    margin-top: 15px;
}
mat-card-title{
    font-family: 'Ubuntu',sans-serif;
}
form{
    display: flex;
}
mat-form-field,form{
    width: 100%;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0em;
}