.example-card {
    max-width: 400px;
    top:50%;
    left:50%; 
    transform:translate(-50%,-50%);
    margin-top: 400px;
    border-radius: 20px;
    background-image: linear-gradient(#DAE2F8,#D6A4A4);
  }
  mat-card-actions{
    padding-top: 50px;
  }