<ng-template #dialogBox>
  <div class="dialog-box">
    <h2>Hey! You forgot to clock out yesterday ({{ yesterday }}). Click below to clock out</h2>
    <button mat-raised-button color="warn" matDialogClose>
      Clock Out
    </button>
  </div>
</ng-template>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col col-lg-4">
      <mat-card class="clock-card">
          <mat-card-content>
            <h1>{{ clock }}</h1><br>
            <h1 class="date">{{ currentDay }} | {{ currentDate }}</h1> 
            <button mat-raised-button class="clock-in-out-button" *ngIf="clockInButton" (click)="onClockIn()">
              Clock In
            </button>
            <button mat-raised-button class="clock-out-button" *ngIf="clockOutButton" (click)="onClockOut()">
              Clock Out
            </button>
          </mat-card-content>
      </mat-card>
    </div>
    <div class = "col col-lg-8">
      <mat-card class="clock-in-out-card">
        <div class="clock-in-out-table"> 
          <table mat-table [dataSource]="dataSource.reverse()" class="mat-elevation-z8">
            <ng-container matColumnDef="dateIn">
              <th mat-header-cell *matHeaderCellDef>
                Date In
              </th>
              <td mat-cell *matCellDef="let element" 
                [ngClass]="{
                  'weekend': getDayName(element.date_in,element.year) === 'Saturday' || 
                    getDayName(element.date_in,element.year) ==='Sunday',
                  'today': element.date_in === today 
                }"> 
                  {{ element.date_in }} 
              </td>
            </ng-container>

            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef>
                Day
              </th>
              <td mat-cell *matCellDef="let element" 
              [ngClass]="{
                'weekend': getDayName(element.date_in,element.year) === 'Saturday' || 
                  getDayName(element.date_in,element.year) ==='Sunday',
                'today': element.date_in === today 
              }"> 
                  {{ getDayName(element.date_in,element.year) }}
              </td>
            </ng-container>
          
            <ng-container matColumnDef="timeIn" >
              <th mat-header-cell *matHeaderCellDef> 
                Time In 
              </th>
              <td mat-cell *matCellDef="let element" 
              [ngClass]="{
                'weekend': getDayName(element.date_in,element.year) === 'Saturday' || 
                  getDayName(element.date_in,element.year) ==='Sunday',
                'today': element.date_in === today 
              }"> 
                  {{ element.time_in }} 
              </td>
            </ng-container>
          
            <ng-container matColumnDef="timeOut">
              <th mat-header-cell *matHeaderCellDef> 
                Time Out 
              </th>
              <td mat-cell *matCellDef="let element" 
              [ngClass]="{
                'weekend': getDayName(element.date_in,element.year) === 'Saturday' || 
                  getDayName(element.date_in,element.year) ==='Sunday',
                'today': element.date_in === today 
              }"> 
                  {{ element.time_out }} 
              </td>
            </ng-container>

            <ng-container matColumnDef="dateOut">
              <th mat-header-cell *matHeaderCellDef> 
                Date Out 
              </th>
              <td mat-cell *matCellDef="let element" 
              [ngClass]="{
                'weekend': getDayName(element.date_in,element.year) === 'Saturday' || 
                  getDayName(element.date_in,element.year) ==='Sunday',
                'today': element.date_in === today 
              }"> 
                  {{ element.date_out }} 
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-card class="empty-table-message" 
              [ngStyle]="{'visibility' : CLOCK_IN_OUT_DATA.length > 0 ? 'hidden' : 'visible' }">
              <h3>No data found. Please <b>CLOCK IN</b> to view</h3>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div> 
</div>