.clock-card{
  border-radius: 20px;
  background-image: linear-gradient(-90deg, #355C7D, #6c5b7b,#c06c84);
  color:white;
  text-align: center;
}
.time-box{
  display: flexbox;
}
h1{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  margin: 0px;
}
h2{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
button{
  font-family: 'Ubuntu', sans-serif;
  border-radius: 50px;
  width:50%;
  padding: 5px;
  font-size: 20px;
}
mat-card-actions{
  padding-top:10px;
  padding-bottom: 10px;
  .clock-in-out-button{
    background-color: #00fdcb;
  }
  .clock-out-button{
    background-color: #f44336;
    color: white;
  }
}
.clock-in-out{
  border-radius: 20px;
  background-image: linear-gradient(-90deg, #c06c84, #6c5b7b, #355C7D);
  text-align: center;
}
.row {
  margin: 30px;
}
mat-table {
  max-height: 700px;
  overflow:auto;
}