<div class = "container-fluid">
  <div class = "row">
    <div class = "col">
      <mat-card class="clock-card">
        <mat-card-title class="timer">
          <h1>{{ clock }}</h1><br>
          <h2>{{ currentDay }} | {{ currentDate }}</h2> 
        </mat-card-title>
        <mat-card-actions>
          <button mat-raised-button class="clock-in-out-button" *ngIf="clockInButton" (click)="onClockIn()">
            Clock In
          </button>
          <button mat-raised-button class="clock-out-button" *ngIf="clockOutButton" (click)="onClockOut()">
            Clock Out
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class = "col col-lg-8">
      <mat-card class="clock-in-out">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Date In Column -->
            <ng-container matColumnDef="dateIn">
              <mat-header-cell *matHeaderCellDef> Date In</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.date_in }} </mat-cell>
            </ng-container>
          
            <!-- Time In Column -->
            <ng-container matColumnDef="timeIn">
              <mat-header-cell *matHeaderCellDef> Time In </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.time_in }} </mat-cell>
            </ng-container>
          
            <!-- Date Out Column -->
            <ng-container matColumnDef="dateOut">
              <mat-header-cell *matHeaderCellDef> Date Out </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.date_out }} </mat-cell>
            </ng-container>
          
            <!-- Time Out Column -->
            <ng-container matColumnDef="timeOut">
              <mat-header-cell *matHeaderCellDef> Time Out </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.time_out }} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
      </mat-card>
    </div>
  </div> 
</div>