<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">
          <mat-card class="generate-form">
            <mat-card-title>Generate Timesheet</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="fill" class="month">
                    <mat-label>Select Month</mat-label>
                    <mat-select>
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="year">
                    <mat-label>Select Year</mat-label>
                    <mat-select>
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-8">
          <mat-card>

          </mat-card>
        </div>
      </div>
</div>
