  <div class="nav-bar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="title">{{ title }}</span>
        <span class="spacer"></span>
        <div fxShow="true">
          <a routerLink="check-in-out" mat-button *ngIf="_authDetails.role==='Manager' || _authDetails.role==='Staff'">
            <mat-icon>input</mat-icon>
            {{ clockIn_Out }}
          </a> 
          <a routerLink="timesheet" mat-button *ngIf="_authDetails.role==='Manager' || _authDetails.role==='Staff'">
            <mat-icon>calendar_today</mat-icon>
            {{ timesheet }}
          </a>
          <a routerLink="employee-list" mat-button *ngIf="_authDetails.role==='Manager'">
            <mat-icon>supervised_user_circle</mat-icon>
            {{ employeeList }}
          </a>
          <a routerLink="leave-application" mat-button *ngIf="_authDetails.role==='Staff'">
            <mat-icon>work_off</mat-icon>
            Apply Leave
          </a>
          <a routerLink="my-account/{{_authDetails.username}}" mat-button *ngIf="_authDetails.role==='Manager' || _authDetails.role==='Staff'">
            <mat-icon>account_circle</mat-icon>
            {{ account }}
          </a>
          <button mat-button [matMenuTriggerFor]="view" *ngIf="_authDetails.role==='Admin'">
            <mat-icon>view_list</mat-icon>
            View
          </button>
          <mat-menu #view="matMenu">
            <button mat-menu-item routerLink="all-employee">
              <mat-icon>person</mat-icon>
              <span>All Employee List</span>
            </button>
            <button mat-menu-item routerLink="all-departments">
              <mat-icon>supervised_user_circle</mat-icon>
              <span>All Department</span>
            </button>
            <button mat-menu-item routerLink="all-schedules">
              <mat-icon>schedule</mat-icon>
              <span>All Schedule</span>
            </button>
            <button mat-menu-item routerLink="all-holiday">
              <mat-icon>event</mat-icon>
              <span>All Holidays</span>
            </button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="createMenu" *ngIf="_authDetails.role==='Admin'">
            <mat-icon>add_circle</mat-icon>
            Create
          </button>
          <mat-menu #createMenu="matMenu">
            <button mat-menu-item routerLink="new-employee" (click)="newEmployeePage()">
              <mat-icon>person_add</mat-icon>
              <span>New Employee</span>
            </button>
            <button mat-menu-item routerLink="new-department" (click)="newDeptPage()">
              <mat-icon>group_add</mat-icon>
              <span>New Department</span>
            </button>
            <button mat-menu-item routerLink="new-schedule">
              <mat-icon>schedule</mat-icon>
              <span>New Schedule</span>
            </button>
            <button mat-menu-item routerLink="holiday-declaration" (click)="newHolidayPage()">
              <mat-icon>event</mat-icon>
              <span>New Holiday</span>
            </button>
          </mat-menu>
          <a mat-raised-button color="warn" class="log-out" (click)="onLogOut()">
            {{ logout }}
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>