  <div class="nav-bar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button> -->
        <span class="title">{{ title }}</span>
        <span class="spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
          <a routerLink="check-in-out" mat-button *ngIf="_authDetails.role==='Manager' || _authDetails.role==='Staff'">
            <mat-icon>input</mat-icon>
            {{ clockIn_Out }}
          </a> 
          <a routerLink="timesheet" mat-button *ngIf="_authDetails.role==='Manager' || _authDetails.role==='Staff'">
            <mat-icon>calendar_today</mat-icon>
            {{ timesheet }}
          </a>
          <a routerLink="employee-list" mat-button *ngIf="_authDetails.role==='Manager'">
            <mat-icon>supervised_user_circle</mat-icon>
            {{ employeeList }}
          </a>
          <a routerLink="my-account" mat-button *ngIf="_authDetails.role==='Manager' || _authDetails.role==='Staff'">
            <mat-icon>account_circle</mat-icon>
            {{ account }}
          </a>
          <a routerLink="new-employee" mat-button *ngIf="_authDetails.role==='Admin'">
            <mat-icon>add_circle</mat-icon>
            {{ addEmployee }}
          </a>
          <a routerLink="login-page" mat-raised-button color="warn" class="log-out">
            {{ logout }}
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

      <!-- <mat-sidenav-container fxFlexFill class="container">
        <mat-sidenav #sidenav>
          <mat-nav-list>
            <a [routerLink]="['../check-in-out']" mat-list-item>
              <mat-icon>input</mat-icon>
              {{ clockIn_Out }}
            </a>
            <a href="#" mat-list-item>
              <mat-icon>calendar_today</mat-icon>
              {{ timesheet }}</a>
            <a href="#" mat-list-item>
              <mat-icon>account_circle</mat-icon>
              {{ account }}
            </a>
            <a (click)="sidenav.toggle()" mat-list-item>
              <mat-icon>close</mat-icon> Close
            </a>
          </mat-nav-list>
        </mat-sidenav>
      </mat-sidenav-container> -->
      <!-- <div class="sidebar">
        <a [routerLink]="['../check-in-out']" mat-list-item>
          <mat-icon>input</mat-icon>
          {{ clockIn_Out }}
        </a>
        <a href="#" mat-list-item>
          <mat-icon>calendar_today</mat-icon>
          {{ timesheet }}</a>
        <a href="#" mat-list-item>
          <mat-icon>account_circle</mat-icon>
          {{ account }}
        </a>
      </div> -->
  </div>