mat-card, button,.incorrectpwd-message{
    border-radius: 20px;
}
mat-card-title,mat-card-actions,.incorrectpwd-message{
    text-align: center;
}
mat-card-title{
    font-family: 'Ubuntu',sans-serif;
}
button{
    padding: 5px;
}
h2{
    font-family: 'Sen', sans-serif;
    margin: 0px;
}
.incorrectpwd-message{
    background-color: red;
    color: white;
    width: 50%;
}
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
mat-form-field{
    width: 100%;
    font-size: larger;
}