<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <mat-card>
        <mat-card-title>
            New Password
        </mat-card-title>
        <form [formGroup]="newPwdForm" (ngSubmit)= "onSubmit()">
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput placeholder="Enter Old Password"  formControlName="oldPwd" 
                    [errorStateMatcher]="errorMatcher" required>
                    <mat-error *ngIf="newPwdForm.hasError('passwordsMatch')">
                        Old Password Cannot Match With New Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="Enter New Password" formControlName="newPwd" required>
                    <mat-error *ngIf="newPwdForm.hasError('required')">
                        New Password Is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput placeholder="Retype New Password"  formControlName="confirmPwd" 
                    [errorStateMatcher]="errorMatcher" required>
                    <mat-error *ngIf="newPwdForm.hasError('passwordsDoNotMatch')">
                        Passwords do not match!! 
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="newPwdForm.invalid">
                    Save New Password
                </button>
            </mat-card-actions>
        </form>
        
    </mat-card>
    </div>
  </div>