mat-card{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
mat-card, button,.incorrectpwd-message{
    border-radius: 20px;
}
mat-card-title,mat-card-actions,.incorrectpwd-container{
    text-align: center;
}
mat-card-title{
    font-family: 'Ubuntu',sans-serif;
}
button{
    padding: 5px;
}
.submit-btn{
    font-family: 'Sen', sans-serif;
    font-size: larger;
    padding-left:20px;
    padding-right:20px;
}
.submit-btn:enabled{
    background-color: #0ba360;
    color: white;
}
.submit-btn:hover:enabled{
    border:1px solid #3cba92;
    color: #0ba360;
    background-color: white;;
}
h2{
    font-family: 'Sen', sans-serif;
    margin: 0px;
}
.incorrectpwd-container{
    color: red;
}
.error-icon{
    align-self: center;
}
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
mat-form-field{
    width: 100%;
    font-size: larger;
    margin-top: 10px;
}
.correct-icon{
    background-color: #0ba360;
    color: white;
    border-radius: 20px;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 15px;
 }
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}