<mat-card class="card">
    <mat-card-title>
        New Password
    </mat-card-title>
    <form [formGroup]="newPwdForm" (ngSubmit)= "onSubmit()">
        <mat-card-content>
            <div class="row justify-content-center">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Current Password</mat-label>
                        <input matInput placeholder="Enter Old Password" 
                        [type]="hide ? 'password' : 'text'" formControlName="oldPwd" 
                        required minlength="6" maxlength="20">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type ="button">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="newPwdForm.invalid">
                            {{ getErrorMessage() }}
                        </mat-error>
                    </mat-form-field>
                    <div class="incorrectpwd-message" *ngIf="incorrectPwd">
                        <mat-icon color="warn">error</mat-icon>
                        <h2>Incorrect Password</h2>
                    </div>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="Enter New Password" formControlName="newPwd" 
                        [errorStateMatcher]="errorMatcher" minlength="6" maxlength="20" type="password" required>
                        <mat-icon matSuffix class="correct-icon" *ngIf="newPwdForm.valid">
                            check
                        </mat-icon>
                        <mat-error *ngIf="newPwdForm.hasError('oldPasswordMatch')">
                            That is your current password 
                        </mat-error>
                        <mat-error *ngIf="newPwdForm.invalid">
                            {{ getErrorMessage() }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm New Password</mat-label>
                        <input matInput placeholder="Retype New Password" formControlName="confirmPwd" 
                        [errorStateMatcher]="errorMatcher" type="password">
                        <mat-icon matSuffix class="correct-icon"  *ngIf="newPwdForm.valid">
                            check
                        </mat-icon>
                        <mat-error *ngIf="newPwdForm.hasError('passwordsDoNotMatch')">
                            Passwords do not match!! 
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="submit-btn" mat-raised-button [disabled]="newPwdForm.invalid">
                Save New Password
            </button>
        </mat-card-actions>
    </form>
</mat-card>