mat-card, button{
    border-radius: 20px;
}
mat-card-title,mat-card-actions{
    text-align: center;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-form-field{
    width: 100%;
}