.row{
    margin: 50px;
}
mat-card ,h2{
    border-radius: 20px;
}
mat-card-title,h1{
    font-family: 'Ubuntu',sans-serif;
}
mat-card-title,mat-card-content{
    text-align: center;
}
h2,.custom-day {
    font-family: 'Sen',sans-serif;
}
.custom-day {
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    font-size: 20px;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.classSelected,
h2
{
  background-color: coral!important;
  color: white;
}
button{
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}