<div class="row" id="datepicker-card">
    <div class="col">
        <mat-card>
            <mat-card-title>
                All Holidays
            </mat-card-title>
            <mat-card-content>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <h2 class="title">Select Date To View Details</h2>
                    </div>
                    <div class="col-12">
                        <ngb-datepicker #dp
                                [displayMonths]="6" 
                                [dayTemplate]="t" 
                                outsideDays="hidden">
                        </ngb-datepicker>

                        <ng-template #t 
                            let-date  
                            let-focused="focused">
                            <span class="custom-day"
                                [ngClass]="existingDates(date)"
                                [class.focused]="focused"
                                (click)="onDateSelect(date)">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                    <div class="col-12" *ngIf="showDetails">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-2">
                                <h1>Holiday Name</h1>
                            </div>
                            <div class="col col-lg-2">
                                <h2> {{ holidayObj.holiday_name }}</h2>
                            </div>
                            <div class="w-100"></div>
                            <div class="col col-lg-2">
                                <h1>Holiday Type</h1>
                            </div>
                            <div class="col col-lg-2">
                                <h2> {{ holidayObj.holiday_type }}</h2>
                            </div>
                            <div class="w-100"></div>
                            <div class="col col-lg-2">
                                <h1>Date </h1>
                            </div>
                            <div class="col col-lg-2">
                                <h2>{{ holidayObj.date }}-{{ holidayObj.year }}</h2>
                            </div>
                            <div class="w-100"></div>
                            <div class="col col-lg-3">
                                <button mat-raised-button class="edit-btn" color="primary" [disabled]="!editable" (click)="editHoliday()">
                                    Edit
                                </button>
                            </div>
                            <div class="w-100"></div>
                            <div class="col col-lg-3">
                                <button mat-raised-button class="del-btn" color="warn" [disabled]="!editable" (click)="deleteHoliday()">
                                    Deactivate
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="showDetails !== null && showDetails === false">
                        <h1>{{ selectedDate }} Has No Holiday</h1>
                    </div> 
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
