.row{
    margin:50px;
}
button{
    border-radius: 50px; 
    padding:5px 20px;
}
.exit-btn{
    color: red;
    padding: 0px;
    margin: 10px 0px;
}
.approve-btn:hover{
    background-color: rgb(63, 238, 20);
    color:black;
}
.reject-btn:hover{
    color:#f44336;
    background-color: white;
}
mat-card{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
mat-card-title , h1,h2{
    font-family: 'Ubuntu', sans-serif;
}
mat-card-actions{
    text-align: center;
}
table{
    width:100%
}
h2{
    margin-top:10px;
    margin-bottom: 0px;
}
h1{
    margin: 20px;
}
th, h1{
    font-weight: bold;
}
.error-message{
    background-color: red;
    color: white;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 10px 0px;
}
th, td{
    font-size: 20px;
    color: black;
}
.timesheet-table{
    max-height: 700px;
    overflow: auto;
}