<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <mat-card>
                <mat-card-title>Timesheet</mat-card-title>
                <mat-card-content>
                    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="approve-btn">
                        Approve
                    </button>
                    <button mat-raised-button color="warn" class="reject-btn">
                       Reject
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>