.row{
    margin: 50px;
}
mat-card{
    border-radius: 20px;
    color: white;
}
mat-card-title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
mat-card-content{
    margin-top: 20px;
}
h2{
    font-family: 'Sen', sans-serif;
}
.profile{
    background-image: linear-gradient( #c06c84, #6c5b7b, #355C7D);
}
.schedule, .department{
    background-image: linear-gradient( #355C7D, #6c5b7b, #c06c84);
}