.row{
    margin: 50px;
}
.employee-list-card{
    border-radius: 20px;
}
mat-card-title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
mat-card-content{
    padding: 20px;
}
table{ 
    width: 100%;
}
.filter-textbox{
    width: 100%;
}
.dropdown-list{
    width:40%;
}
button{
    width:20%;
}