<div class="row justify-content-center">
    <div class="col-12">
        <mat-card class="employee-list-card">
            <mat-card-title>Employee List</mat-card-title>
            <mat-card-content>
                <mat-form-field class="filter-textbox">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
                </mat-form-field>
                <form [formGroup]="searchForm">
                  <mat-form-field appearance="outline" class="dropdown-list">
                    <mat-label>Timesheet Status</mat-label>
                    <mat-select formControlName="status">
                      <mat-option *ngFor="let status of statusList" [value]="status.id" (click)="onSubmit()">
                        {{ status.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="dropdown-list">
                    <mat-label>Month - Year</mat-label>
                    <mat-select formControlName="dateSelected">
                      <mat-option *ngFor="let dates of dateList" [value]="dates" (click)="onSubmit()">
                        {{ dates }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
                
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.name}} 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="domainId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain ID </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.domain_id}} 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.email}} 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.role}} 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="schedule">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Schedule </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.schedule.schedule_name }} 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="department">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.department.department_name }} 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Timesheet Status </th>
                      <td mat-cell *matCellDef="let element"
                      [ngStyle]="{'color': element.timesheet_approval.approval_status === 'Approved' ? 'green' 
                      : element.timesheet_approval.approval_status === 'Rejected' ? 'red' : ''}">
                        {{ displayStatus(element) }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div *ngIf="EMPLOYEE_DATA.length === 0">
                    <mat-card class="empty-data-message">
                      <h2>No Record Found</h2>
                    </mat-card>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
   
</div>

