#outer-row{
    margin-top:75px;
}
.new-emp-form{
    border-radius: 20px;
}
.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
mat-form-field{
    width: 100%;
}
mat-card-content{
    padding: 20px;
}
button{
    border-radius: 20px;
    padding: 0px 50px;
}
.next-button{
    text-align: center;
}
h3{
    text-align: center;
    background-color: rgba(192,192,192,0.3);
    border-radius: 20px;
}
h2,h3{
    //font-family: 'Sen', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}