<div class="container">
    <div class="row" id="outer-row">
        <div class="col-12">
            <mat-card class="new-emp-form">
                <mat-card-title class="title"> Create New Employee </mat-card-title>
                <mat-card-content>
                    <mat-horizontal-stepper  #stepper>
                        <mat-step [stepControl]="createEmployeeFormGroup">
                          <form [formGroup]="createEmployeeFormGroup">
                            <ng-template matStepLabel>Personal Details</ng-template>
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Name" formControlName="name" required> 
                                    </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Domain ID</mat-label>
                                    <input matInput placeholder="Domain ID" formControlName="domainId" required> 
                                    </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>IC/Passport No</mat-label>
                                        <input matInput placeholder="Name" formControlName="ic_passportNo" required> 
                                    </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput [matDatepicker]="dp3" disabled (dateInput)="addEvent('input', $event)" 
                                         (dateChange)="addEvent('change', $event)" formControlName="dob">
                                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                        <mat-datepicker #dp3 disabled="false" startView="year" [startAt]="startDate"  ngDefaultControl></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="next-button">
                              <button mat-raised-button matStepperNext color="primary">Next</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="createEmployeeFormGroup">
                          <form [formGroup]="createEmployeeFormGroup">
                            <ng-template matStepLabel>Department Details</ng-template>
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <mat-form-field>
                                        <mat-label>Department Name</mat-label>
                                        <input matInput formControlName="dptName" placeholder="Department Name"
                                               required>
                                      </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <mat-form-field>
                                        <mat-label>Department Location</mat-label>
                                        <input matInput formControlName="dptLocation" placeholder="Department Location"
                                               required>
                                      </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <mat-form-field>
                                        <mat-label>Supervisor Name</mat-label>
                                        <input matInput formControlName="supervisor" placeholder="Supervisor"
                                               required>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="next-button">
                              <button mat-button matStepperPrevious>Back</button>
                              <button mat-raised-button matStepperNext color="primary">Next</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="createEmployeeFormGroup">
                            <form [formGroup]="createEmployeeFormGroup">
                                <ng-template matStepLabel>Schedule Details</ng-template>
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Working Days</mat-label>
                                            <input matInput placeholder="Working Days" formControlName="workingDays"> 
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Working Hours</mat-label>
                                            <input matInput placeholder="Working Hours" formControlName="workingHours"> 
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="next-button">
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-raised-button matStepperNext color="primary">Next</button>
                                  </div>
                            </form>
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Done</ng-template>
                          <p>You are now done.</p>
                          <div>
                            <button mat-button matStepperPrevious>Back</button>
                          </div>
                        </mat-step>
                      </mat-horizontal-stepper>
                      
                    
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</div>
