<div class="container">
    <div class="row" id="outer-row">
        <div class="col-12">
            <mat-card class="new-emp-form">
                <mat-card-title class="title">{{ title }}</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="employeeFormGroup" (ngSubmit)= "onSubmit()" #thisFormGroup (keydown.enter)="$event.preventDefault()">
                        <mat-horizontal-stepper #stepper formArrayName="formArray" [linear]="true">
                            <mat-step formGroupName="0" [stepControl]="formArray.get([0])" [editable]="editable">
                                <ng-template matStepLabel>Personal Details</ng-template>
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Name</mat-label>
                                            <input matInput placeholder="Enter Full Name" formControlName="name" required> 
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Domain ID</mat-label>
                                            <input matInput placeholder="Ex: tjohndoe" formControlName="domainId" required >
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>IC/Passport No</mat-label>
                                            <input matInput placeholder="Enter IC/Passport No" formControlName="ic_passportNo" required >
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Email Address</mat-label>
                                            <input matInput placeholder="Ex: tjohndoe@internal.hlb" formControlName="email" required > 
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Address</mat-label>
                                            <input matInput placeholder="Enter Address" formControlName="address" required> 
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Gender</mat-label>
                                            <mat-select formControlName="gender" required>
                                                <mat-option *ngFor="let gndr of gender" [value]="gndr">{{ gndr }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Position</mat-label>
                                            <mat-select formControlName="role" required>
                                                <mat-option *ngFor="let position of role" [value]="position">{{ position }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="next-button">
                                  <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
                                </div>
                            </mat-step>
                            <mat-step formGroupName="1" [stepControl]="formArray.get([1])" [editable]="editable">
                                <ng-template matStepLabel>Department Details</ng-template>
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <mat-form-field>
                                            <mat-label>Department Name</mat-label>
                                            <mat-select formControlName="department" required>
                                                <mat-option *ngFor="let dpt of departmentDetails" [value]="dpt" (click)="displayDptDetails(dpt)">{{ dpt.department_name }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-5">
                                        <div *ngIf="showDptDetails" class="show-details">
                                            <div class="row">
                                                <div class="col-6"><h2>Level:</h2></div>
                                                <div class="col-6"><h3>{{ dpt_level }}</h3></div>
                                                <div class="w-100"></div>
                                                <div class="col-6"><h2>Supervisor:</h2></div>
                                                <div class="col-6"><h3>{{ dpt_head.name }}</h3></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="next-button">
                                  <button mat-button matStepperPrevious type="button">Back</button>
                                  <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
                                </div>
                            </mat-step>
                            <mat-step formGroupName="2" [stepControl]="formArray.get([2])" [editable]="editable">
                                    <ng-template matStepLabel>Schedule Details</ng-template>
                                    <div class="row justify-content-center">
                                        <div class="col-5">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Schedule Name</mat-label>
                                                <mat-select formControlName="schedule" required>
                                                    <mat-option *ngFor="let schedule of scheduleDetails" (click)="displaySchDetails(schedule)" [value]="schedule">{{ schedule.schedule_name }}</mat-option>
                                                </mat-select> 
                                                <mat-error *ngIf="formArray.invalid">{{ showErrorMessage() }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="col-5">
                                            <div *ngIf="showSchDetails">
                                                <div class="row">
                                                    <div class="col-6"><h2>Days of Work:</h2></div>
                                                    <div class="col-6">
                                                        <h3><ul>
                                                            <li *ngFor="let days of working_days"> 
                                                                {{ days }}
                                                            </li>
                                                        </ul></h3>
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col-6"><h2>Working Hours:</h2></div>
                                                    <div class="col-6"><h3>{{ start_time }} - {{ end_time }}</h3></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="next-button">
                                        <button mat-button matStepperPrevious type="button">Back</button>
                                        <button mat-raised-button matStepperNext color="primary" type="submit">{{ buttonTitle }}</button>
                                    </div>
                            </mat-step>
                            <mat-step>
                              <ng-template matStepLabel>Done</ng-template>
                              <h2>{{ completeMessage }}</h2>
                              <div>
                                <button mat-raised-button color="primary" type="button" (click)="stepper.reset();thisFormGroup.reset()">Create New Employee</button>
                                <a mat-button routerLink="/home/all-employee">Done</a>
                              </div>
                            </mat-step>
                          </mat-horizontal-stepper>
                    </form>  
                </mat-card-content>
            </mat-card>
        </div> 
    </div>
</div>
