.clock-card{
  border-radius: 20px;
  background-image: linear-gradient(-90deg, #355C7D, #6c5b7b,#c06c84);
  //width: 100%;
  color:white;
  text-align: center;
}
h1{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}
h2{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
.border{
  margin: 50px;
  height: 0px;
  //display: inline-block;
}
mat-card-actions{
  padding: 20px;
  .clock-in-out-button{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 50px;
    width:50%;
    margin-bottom:20px;
    background-color: #00fdcb;
  }
  .clock-out-button{
    background-color: #f44336;
    color: white;
    border-radius: 50px;
    width:50%;
    margin-bottom:20px;
    font-family: 'Ubuntu', sans-serif;
  }
}
.card-2{
  margin: 50px;
  
}
.clock-in-out{
  border-radius: 20px;
  background-image: linear-gradient(-90deg, #355C7D, #6c5b7b,#c06c84);
  text-align: center;
}
.parentDiv {
  margin: 30px;
}
table{
  width:100%;
}