<div class="row outside">
  <div class="col-4">
    <mat-card>
      <mat-card-content>
        <div id="overall-late-report"></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          See More 
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-content>
        <div id="var-radius-pie"></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          See More 
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>