/* You can add global styles to this file, and also import other style files */

// html, body { height:100% }
body { 
    margin: 0; 
    //font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./image/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notif-success{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-family: 'Sen', sans-serif;
    color: black;
    .mat-simple-snackbar-action {
        color: black;
    }
}

.notif-failure{
    background: linear-gradient(to right, #ed213a, #93291e);
    font-family: 'Sen', sans-serif;
    color: white;
    .mat-simple-snackbar-action {
        color: white;
    }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
