.row{
    margin: 50px;
}
.employee-list-card{
    border-radius: 20px;
}
mat-card{
    background-color: rgba(255, 255, 255, 0.7);
}
mat-card-title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
mat-card-content{
    padding: 20px;
}
table,.filter-textbox{
    width: 100%;
}
.slide-toggle{
  padding:10px 0px;
}
button{
    border-radius: 20px;
}
.active{
    background-color: #84fab0;
}
.inactive{
    color: white;
    background-color: #f43b47;
}