<div class="row">
    <div class="col">
        <mat-card>
            <mat-card-title>
                Leave Application
            </mat-card-title>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form [formGroup]="leaveApplicationForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="fill">
                            <mat-label>Select Leave Type</mat-label>
                            <mat-select formControlName="leaveType" required>
                              <mat-option *ngFor="let leave of leaveTypes" [value]="leave.value" (click)="setMinMaxDate(leave)">
                                  {{ leave.value }}
                                </mat-option>
                            </mat-select>
                            <mat-hint>Remaining Leaves: <b>{{ remainingLeaves }}</b></mat-hint>
                            <mat-error *ngIf="userInput.leaveType.invalid">
                                Please Select a Leave Type
                            </mat-error>
                        </mat-form-field>
                        <h2>{{ userInput.leaveType.value }} Leave Duration: 
                            <span class="date-label">{{ startDate }} - {{ endDate }}</span>
                            <span *ngIf="isExceeded" class="error-message">*Selected Date(s) Exceeds Limit!!</span>
                        </h2>
                        <div class="date-picker">
                            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" 
                                [displayMonths]="1" 
                                [dayTemplate]="t" 
                                outsideDays="hidden" 
                                [minDate]="minDate" 
                                [maxDate]="maxDate"
                                [markDisabled]="isDisabled">
                            </ngb-datepicker>
                            
                            <ng-template #t let-date let-disabled="disabled" let-focused="focused">
                                <span class="custom-day"
                                        [class.focused]="focused"
                                        [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        [class.weekend]="isWeekends(date)"
                                        [class.disabled]="disabled"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                        <button mat-raised-button color="primary" type="submit" 
                            [disabled]="leaveApplicationForm.invalid || isExceeded">
                            Request Leave
                        </button>
                    </form>
                </div>
            </div> 
        </mat-card>
    </div>
</div>