.row{
    margin: 50px;
}
mat-card,button,.date-label{
    border-radius: 20px;
}
button{
    padding: 5px 0px;
}
.custom-day,mat-card-title,.date-picker,button{
    text-align: center;
}
mat-card-title{
    
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
h2,.custom-day{
    font-family: 'Sen', sans-serif;
}
h2,.date-picker,button{
    margin: 20px 0px;
}
.custom-day {
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    font-size: 20px;
}
.custom-day.weekend,.custom-day.weekend.range{
    background-color: indianred;
    color:white;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover,.date-label {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}
mat-form-field,button{
    width:100%
}
mat-form-field{
    font-size: 17px;
}
mat-hint{
    font-size: larger;
}
.date-label{
    padding: 0px 20px;
}
.error-message{
    color: red;
    padding: 0px 10px;
    font-size: smaller;
}
.custom-day.disabled{
    color: lightgray;
}