<div class="row">
    <div class="col">
        <mat-card>
            <mat-card-title>
                Create New Leave Date
            </mat-card-title>
            <div class="date-picker">
                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" 
                    [dayTemplate]="t" outsideDays="hidden" >
                </ngb-datepicker>
                
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                    </span>
                </ng-template>
            </div> 
            <hr>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form [formGroup]="createHolidayForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline">
                            <mat-label>Holiday Duration</mat-label>
                            <input matInput formControlName="duration" 
                                value="{{fromDate.day}}-{{fromDate.month}}-{{fromDate.year}}" [readonly]="true">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Holiday Name</mat-label>
                            <input matInput formControlName="holidayName" required>
                            <mat-error *ngIf="userInput.holidayName.invalid">
                                Please Enter a Holiday Name
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Select Holiday Type</mat-label>
                            <mat-select formControlName="holidayType" required>
                              <mat-option *ngFor="let holiday of holidayTypes" [value]="holiday">
                                  {{ holiday }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="userInput.holidayType.invalid">
                                Please Select a Holiday Type
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">Create Holiday</button>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>
</div>
